:root{
    --primary-color:#7F45E2;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#807ECE, #8E7ECE);
    background-repeat: no-repeat;
    min-height: 100vh; 
    font-family: 'Rubik',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 350px;
    height:auto;
    display: flex;
    flex-direction: column;
    gap:26px;
    background-color: #2D2A37;
    padding: 30px;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 
    inset 0px 6px 8px 0px rgba(255, 255, 255, 0.10),
    inset 0px -4px 5px 0px rgba(0, 0, 0, 0.22),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 188px 52px 0px rgba(0, 0, 0, 0.01),
    0px 120px 48px 0px rgba(0, 0, 0, 0.04),
    0px 68px 41px 0px rgba(0, 0, 0, 0.15),
    0px 30px 30px 0px rgba(0, 0, 0, 0.26),
    0px 8px 17px 0px rgba(0, 0, 0, 0.29);

}
.display-section{
    padding:0px 22px;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    box-sizing: border-box;
    margin-top:10px;
}

.display-operate{
    font-size:36px;
    color:#EBEBEB;
    text-align: right;
}

.display-history{
    text-align: right;
    font-size: 20px;
    color: #6B6B6B;
    font-weight: 300;
}
.button-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:12px;
    
}

button {
    font-family: inherit;
    font-size: 24px;
    color:#EBEBEB;
    width:64px;
    height:64px;
    border-radius: 64px;
    border:none;
    box-shadow: 
    inset 0px 2px 3px 0px rgba(255, 255, 255, 0.06),
    0px 11px 7px 0px rgba(0, 0, 0, 0.01),
    0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 4px 6px 0px rgba(0, 0, 0, 0.1),
    0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    0px 0px 2px 0px rgba(0, 0, 0, 0.29);
    transition: all 0.1s ease; ]
}

.operator {
    background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    #462878;
}

.basic{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    #2D2A37;  
}

#equal{
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%),
    var(--primary-color);
}

.second {
    color: #975DFA;
}

button:active{
     box-shadow: 
        inset 0px 3px 7px 0px rgba(0, 0, 0, 0.4),  /* Ombre intérieure plus forte */
        inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 2px 0px rgba(0, 0, 0, 0.1);  /* Ombres extérieures réduites */
    font-size:23px;
    color:#d3d3d3;
}